/* general styles */
button, input {
    border: 2.5px solid black;
    border-radius: 10px;
}
button:hover, input:hover {
    border-color: #FFFF66;
}
button, input, .bold {
    font-weight: bold;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    cursor: pointer;
}
button {
    height: 35px;
    width: 70px;
    background-color: white;
    font-size: 15px;
}
input {
    height: 30px;
    width: 150px;
    padding-left: 15px;
    outline: none;
}
::placeholder { 
    color: black;
}
.linkHover:hover {
    color: #A9A9A9;
}

/* hide and opacity */
.hidden {
    visibility: hidden;
}
.opacity {
    opacity: 0.5;
}

/* popups */
.enterBranchPopup, .enterBranchSub, .popup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.enterBranchPopup, .popup {
    flex-direction: column;
    border: 3px solid black;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}
.enterBranchPopup, .popup, .error {
    position: absolute;
}
#closeLoginPopup:hover, #closeCreateAccountPopup:hover {
    color: grey;
}

.enterBranchPopup {
    height: 150px;
    width: 400px;
    margin-bottom: 720px;
}
.enterBranchSub {
    width: 70%;
}
.popup {
    height: 350px;
    width: 350px;
    margin-bottom: 650px;
}
.changePopup {
    font-size: 15px;
}
.changePopup:hover {
    text-decoration: underline;
}
.error {
    margin-top: 190px;
    color: red;
}

/* header & body */
.header, .subHeaderOne, .subHeaderTwo, .body, .container {
    display: flex;
    align-items: center;
}
.subHeaderOne, .subHeaderTwo {
    justify-content: space-evenly;
}
.header {
    justify-content: space-between;
}
.body, .container {
    flex-direction: column;
}

.header {
    height: 80px;
    width: 80%;
    border: 3px solid #FFFF66;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: #FFFF66;
    font-weight: bold;
    padding: 0px 20px 0px 20px;    
}
.subHeaderOne {
    height: 50px;
    width: 500px;
}
.subHeaderTwo {
    height: 40px;
    width: 250px;
}
.body {
    justify-content: center;
}
.container {
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

/* time, date, weather, forecast */
.timeDateWeather, .timeDate, .forecastCon, .forecastSub, .weather, .weatherSub {
    display: flex;
    align-items: center;
}
.timeDate, .forecastSub, .weatherSub {
    justify-content: center;
}
.timeDateWeather, .forecastCon {
    justify-content: space-between;
}
.weather {
    justify-content: space-evenly;
}
.timeDate, .weather, .forecastSub, .weatherSub {
    flex-direction: column;
}
#dayDisplay, .title {
    font-size: 40px;
}

.timeDateWeather {
    height: 250px;
    width: 700px;
    margin-top: 10px;
    font-weight: bold;
}
.timeDate {
    height: 100%;
    width: 40%;
}
#dayDisplay {
    margin-right: 130px;
}
#dateDisplay {
    font-size: 30px;
    margin: 5px 0px 10px 55px;
}
#timeDisplay {
    font-size: 35px;
    margin-right: 36px;
}
.weather {
    height: 70%;
    width: 50%;
}
.forecastCon {
    height: 100px;
    width: 620px;
}
.forecastSub {
    height: 95%;
    width: 100px;
    border: 3px solid #FFFF66;
    border-radius: 50px;
    transition: transform 1s;
}
.forecastSub:hover {
    transform: rotateZ(360deg);
}
.city {
    font-size: 20px;
}

/* what we do & testimonials */
.whatWeDo, .testimonials, .feedbackCon, .feedback {
    display: flex;
    align-items: center;
}
.whatWeDo, .testimonials, .feedback {
    justify-content: center;
}
.feedbackCon {
    justify-content: space-between;
}
.whatWeDo, .testimonials {
    flex-direction: column;
}
.whatWeDo, .feedback {
    border: 3px solid #FFFF66;
    border-radius: 25px;
}
.whatWeDo:hover, .feedback:hover {
    background-color: black;
    border: 3px solid black;
    color: #FFFF66;
}
.whatWeDo, .feedbackCon {
    text-align: center;
}
.whatWeDo, .testimonials, .feedbackCon {
    margin-top: 30px;
}

.whatWeDo {
    height: 280px;
    width: 680px;
    background-color: #FFFF66;
}
.testimonials {
    height: 150px;
    width: 1000px;
}
.feedbackCon {
    height: 100px;
    width: 90%;
}
.feedback {
    height: 100%;
    width: 280px;
}

/* last section & footer */
.lastSection, .contactUs, .contactUsSub, .socialMedia, .icons, .logoCon, .footer {
    display: flex;
    align-items: center;
}
.contactUs, .contactUsSub, .logoCon, .footer {
    justify-content: center;
}
.icons {
    justify-content: space-evenly;
}
.lastSection, .socialMedia {
    justify-content: space-between;
}
.contactUs, .footer {
    flex-direction: column;
}

.lastSection {
    width: 1000px;
    margin: 50px 0px 30px 0px;
}
.contactUs {
    height: 120px;
    width: 500px;
    border-radius: 25px;
}
.adjust {
    margin-right: 45px;
}
.contactFont {
    font-size: 15px;
}
.socialMedia {
    height: 100px;
    width: 380px;
}
.icons {
    height: 50px;
    width: 180px;
}
.logoCon {
    height: 45px;
    width: 60px;
}
.footer {
    height: 130px;
    width: 100%;
    background-color: #FFFF66;
}
.footer:hover {
    background-color: black;
    color: #FFFF66;
}

/* background design */
.groceryOne, .groceryTwo, .groceryThree, .groceryFour, .groceryFive, .grocerySix, 
.apple, .broccoli, .carrot {
    position: absolute;
}
.apple, .broccoli, .carrot {
    height: 45px;
    width: 45px;
}
.apple, .broccoli {
    height: 45px;
    width: 45px;
    margin: 285px 0px 0px 280px;
}
.grocerySix, .broccoli {
    transform: rotate(30deg);
}
.groceryThree, .apple {
    transform: rotate(-30deg);
}

.groceryOne {
    height: 250px;
    width: 250px;
    margin: 0px 1050px 600px 0px;
    transform: rotate(-40deg);
}
.groceryTwo {
    height: 280px;
    width: 280px;
    margin: 0px 0px 550px 1100px;
    transform: rotate(40deg);
}
.groceryThree {
    height: 170px;
    width: 170px;
    margin: 0px 0px 0px 900px;
}
.groceryFour {
    height: 190px;
    width: 190px;
    margin: 0px 1000px 0px 0px;
    transform: rotate(50deg);
}
.groceryFive {
    height: 100px;
    width: 100px;
    margin: 880px 900px 0px 0px;
}
.grocerySix {
    height: 150px;
    width: 150px;
    margin: 450px 0px 0px 1100px;
}

.carrot {
    margin: 80px 0px 0px 340px;
}